.getStart{
    margin-top: 20px;
    background-color: #6888FF;
    background-image: url("./clouds.png") ;
    color: white;
    text-align: center;
    padding-top: 10%;
}
.startButton{
    padding:20px;
    border-radius: 10px;
    margin-top: 10%;
    margin-bottom: 5%;
}